@import 'utils';

.ul {
  user-select: none;
  letter-spacing: 0.15rem;
  .li {
    cursor: pointer;
    position: relative;
    .spacer {
      margin: 1.3rem 0;
    }
    .li-wrap {
      display: block;
      font-weight: 300;
      padding: .8rem 2rem;
      border-right: 2px solid transparent;
      &.expand-li {
        font-weight: 400;
        font-size: .65rem;
        padding: .6rem 2rem;
        color: $oc-gray-5;
      }
      &.active {
        color: theme('secondary');
        border-right: 2px solid theme('secondary');
      }
      &:hover, &:active {
        &:not(.expand-li) {
          background-color: $oc-gray-1;
        }
      }
      ~.children-ul {
        display: none;
      }
      &.expanded {
        ~.children-ul {
          display: block;
        }
      }
      .expand-icon {
        position: absolute;
        right: 1.5rem;
        top: .4rem;
        font-size: 1rem;
      }
    }
  }
}
