@import 'utils';

.ul {
  user-select: none;
  .li {
    padding: 0 20px;
    cursor: pointer;
    &.active {
      font-weight: 500;
      color: material-color('red', '500');
    }
    a {
      display: block;
      line-height: 2.5rem;
      transition: all .3s ease-in-out;
    }
    .child-ul {
      font-size: 0.9rem;
      .li {
      }
    }
  }
}