@import 'utils';

.header {
  z-index: z-index('header');
  background-color: #232323;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-size;
    max-width: 1440px;
    padding: 0 36px;

    .left, .right {
      display: flex;
      flex: 0 1 100%;
      align-items: center;
      height: 100%;

      .logo {
        color: theme('secondary');
        margin-right: 12px;
        line-height: 0;
      }
    }
  }
}
