@import 'utils';

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: z-index('header');
  opacity: 1;
  box-shadow: 0 2px 4px -1px material-color('grey', '100');
  display: flex;
  flex-direction: row;
  @include media('<medium') {
    height: 48px;
    justify-content: center;
  }
    .title-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media('>=medium') {
        width: 240px;
      }
      @include media('<medium') {
        width: 60px;
      }
    }
    .nav {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      @include media('<medium') {
        display: none;
      }
    }
}