@import 'utils';
body {
  font-family: 'Ubuntu', 'Nanum Square', sans-serif;
  font-size: 14px;
  padding: 0;
  position: relative;
  height: 100%;
  overflow: scroll;
  color: material-color('grey', '700');
}
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: inherit;
  color: inherit;
}
ol, ul {
  list-style: none;
}
div, article, main, header, footer, nav, section {
  padding: 0;
  border: 0;
  position: relative;
}
