@import 'utils';

.sidebar {
  z-index: z-index('sidebar');
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: #ffffff;
  backface-visibility: hidden;
  border-right: 1px solid material-color('grey', '100');
  transform: translate(-100%);
  transition: all .2s ease-in-out;
  @include media ('<medium') {
    min-height: calc(100vh - 48px);
    margin-top: 48px;
  }
  &.open {
    transform: translate(0%);
  }
  .nav-search {
    display: flex;
    justify-content: center;
    padding: 1rem 1.3rem;
  }
  .nav-wrap {
    display: flex;
    flex-direction: column;
  }
}
