@import 'utils';

.navi {
  z-index: z-index('sidebar');
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding: 0;

  &.isMobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 256px;
    height: 100vh;
    flex-flow: row wrap;
    padding: #{$header-size} 0;
    background-color: #2c2c2c;
    backface-visibility: hidden;
    transform: translate(100%);
    transition: all .2s ease-in-out;

    &.active {
      transform: translate(0%);
    }
  }

}
