@import 'utils';

.contents-wrap {
  display: flex;
  width: 100%;
  padding-top: $header-size;
  min-height: calc(100vh - #{$header-size});
  @include media ('>medium') {
    padding-left: $sidebar-size;
    padding-top: $header-size;
    min-height: calc(100vh - #{$header-size});
  }
}
