@import 'utils';

.app-wrap {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  backface-visibility: hidden;
  min-height: 100vh;

  .contents-wrap {
    display: flex;
    width: 100%;
    margin-top: 48px;
    min-height: calc(100vh - 48px);

    @include media ('>=medium') {
      margin-left: 240px;
      width: calc(100% - 240px);
      margin-top: 60px;
      min-height: calc(100vh - 60px);
    }
  }
}