@import 'utils';

.interBox {
  position: static;
  height: 56px;
  @include media('>medium') {
    position: fixed;
    width: box-size('medium');
    height: 100vh;
    top: 0;
    left: calc((100vw - #{box-size('medium')}) / 2)
  }
  @include media('>large') {
    width: box-size('large');
    left: calc((100vw - #{box-size('large')}) / 2)
  }

  .logo {
    display: none;
    @include media('>medium') {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .hamburger {
    width: 100%;
  }
  .search {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
