@import 'utils';

.modal-overlay {
  z-index: z-index('modal');
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.4);
  &.active {
    display: flex;
  }
  &.hide-overlay {
    background: #fff;
  }
  .modal {
    width: 500px;
    height: 500px;
    overflow-y: hidden;
    &.scrollable {
      overflow-y: scroll;
    }
    &.full-screen {
      width: 100%;
      height: 100%;
    }
  }
}